@import url("../fonts/glyphicons-halflings-regular.ttf");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
body {
  font-family: Roboto;
  padding-bottom: 100em;
  min-height: 100%;
  margin: 0;
}
.hola {
  background-color: #ccc;
}
.section {
  min-height: 100vh;
}
.header {
  background-color: #5690bb;
  width: 100%;
}
.perfilgrande {
  width: 10em;
  height: 10em;
  position: absolute;
  top: -5em;
}
.perfilpequeno {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 0.1em;
}
.perfilpequeno__img {
  width: 100%;
  height: 100%;
  z-index: 100;
}
.texto {
  color: #f00;
  position: absolute;
  left: 3.4em;
  top: 0.4em;
  text-align: center;
}
.texto p {
  color: #7c7c7c;
}
.navbar-header {
  position: relative;
}
.caruso {
  max-height: 20em;
  width: 100%;
}
.imagen__modal {
  position: relative;
  top: 8em;
}
.habilidades {
  padding-top: 10em;
}
.habilidades__item {
  margin: 3em 0;
  text-align: center;
}
.habilidades__item i {
  font-size: 5em;
  transition: all 0.2s;
}
.habilidades__item i:hover {
  font-size: 6em;
}
.informacion {
  background-color: rgba(0,191,210,0.44);
}
.informacion__item {
  margin: 3em 0;
  text-align: center;
}
.informacion__item i {
  font-size: 5em;
}
